* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  background-color: #000;
  color: #fff;
}

.section-image {
  background-image: url('../assets/gede-suhendra-670490-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;
  opacity: 0.4;
}

.header {
  width: 100%;
  min-height: 10vh;
  top: 0;
  position: absolute;
  overflow: hidden;
  z-index: 99999;
  text-align: center;
  padding: 3rem 1.2rem;
}

.brand {
  float: left;
  margin-left: 2.5rem;
}

.brand a {
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  color: #fff;
  font-weight: bold;
}

.nav-links {
  float: right;
}

.nav-links a {
  margin-right: 2.5rem;
  display: block;
  float: left;
  text-decoration: none;
  padding: 0 0.5em 0.5rem 0.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-links a:hover,
.nav-links a:active {
  border-bottom: 3px solid #008cba;
}

.section-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
.contact-icon {
  margin-top: 2rem;
}

.box-text {
  padding: 1rem 2rem;
  border: 2px solid #bbb;
}

.reduce {
  min-height: 20%;
}

.footer {
  min-height: 10vh;
  width: inherit;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  position: fixed;
  background: #000;
}

/* Section */

.section {
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.gray {
  background-color: #ccc;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.section-head,
.work-head,
.contact-head {
  padding: 2rem 2rem 3rem 2rem;
  font-size: 1rem;
}

.section-head span,
.work-head span,
.contact-head span {
  padding: 1rem;
  border-bottom: 3px solid #008cba;
  font-weight: bolder;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.card {
  position: relative;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.box-image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 75%;
}

.overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.intext {
  color: white;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card:hover .overlay {
  opacity: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-head {
  padding: 0.5;
  background-color: #008cba;
  height: 25%;
}

/* Section Two */

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.reset {
  padding: 0;
}

#work {
  height: 500px;
  background-color: rgba(187, 187, 187, 0.432);
}

#contact {
  height: 500px;
}

/* Responsive */

@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }

  .brand {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .section-card {
    display: block;
  }

  .card {
    margin-bottom: 3rem;
  }

  .section-two {
    display: block;
  }

  .section-text {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }

  .box-text {
    padding: 0.5rem 1rem;
    border: 2px solid #bbb;
  }
}
